.container {
  min-height: 100vh;
}

.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: white;
  background-color: #040018;

  * {
    z-index: 1;
  }
}

.background {
  position: absolute;
  top: -30px;
  right: -30px;
  bottom: -30px;
  left: -30px;
  z-index: 0;
  filter: blur(30px);
  pointer-events: none;

  img {
    width: 100%;
    height: 100%;
  }
}

.titleBar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  padding: 30px;
  font-size: 1.4em;

  img {
    height: 100%;
    margin-right: 20px;
  }
}

.coinData {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  justify-items: center;
  align-items: center;
  padding-top: 50px;

  .data {
    text-align: center;

    .dataTitle {
      display: block;
    }

    .dataValue {
      font-size: 2em;
    }
  }
}

.trendGif {
  display: block;
  width: 150px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}

.howToBuy {
  width: 100%;
  display: flex;
  justify-content: center;
}
.howToBuyCard {
  position: relative;
  display: inline-block;
  border-radius: 15px;
  background-color: #171230;
  color: white;
  padding: 20px;

  &::after {
    content: "";
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    z-index: -1;
    background-image: linear-gradient(
      45deg,
      rgb(204, 0, 0) 0%,
      rgb(204, 123, 0) 10%,
      rgb(169, 178, 26) 20%,
      rgb(63, 151, 29) 30%,
      rgb(30, 158, 157) 40%,
      rgb(24, 149, 170) 50%,
      rgb(14, 94, 184) 60%,
      rgb(70, 10, 189) 70%,
      rgb(146, 6, 195) 80%,
      rgb(199, 3, 172) 90%,
      rgb(204, 0, 0) 100%
    );
    animation: party 2s linear 0s infinite normal none running;
    filter: blur(6px);
    border-radius: 15px;
  }

  &:not(:last-child) {
    margin-right: 20px;
  }

  .title {
    font-size: 1.2em;
  }
}

@keyframes party {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}